

<%= render 'users/list', users: @user,book: @book %>


    <div class='col-md-8 offset-md-1'></div>
      <h2>Users</h2>
      <table class='table table-hover table-inverse'>
  <thead>
    
   
    <tr>
      <th></th>
      <th>image</th>
      <th></th>
      <th>name</th>
<th><%= @user.name %></th>

      <th colspan="3"></th>
    </tr>
  </thead>
  <tr>
  <tbody>
  
  <% @users.each do |user| %>

  <% end %>


 <td><%= link_to "Show", book_path(@books)%>
  </td>
  </tr>

  </tbody>
</table>
