<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'users/info', user: @user,book: @book %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Users</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>image</th>
              <th>name</th>
              <th></th>
              <th colspan="3"></th>
              </tr>
              </thead>
              <tbody>
                <tbody>

                    <% @users.each do |user| %>
                      <tr>
                        <% if user.profile_image.attached? %>
                        
                          <td><%= image_tag user.get_profile_image(100,100) %></td>
                          <td><%= user.name %></td>
                            <td>
                              <%= link_to "Show", user_path(user) %></td>
                              <% end %></tr>
                              <% end %>
                              </tbody>
                              </table>
                              </div>
                              </tbody>
                              </div>
                              </div>

