<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'users/info', user: @user, book: @book %>
      </div>
      <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th></th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <% if @user.profile_image.attached? %>
                  <% end %>
                  <td></td>
                  </tr>
                  </tbody>
                  </table>
                  </div>
                  </div>
                  </div>

